<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.thinkmore.android.tommy.notifier"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
	
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />  
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />		
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
            android:icon="@drawable/ic_launcher"
            android:theme="@style/AppTheme"
            android:name="NotifierApp"
            android:label="@string/app_name" >
        <service android:name=".NotifierService_" />
        <receiver android:name="info.thinkmore.android.tommy.notifier.PhoneStateBroadcastReceiver_" 
                  android:enabled="true"
                >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <activity
                android:name="MainActivity_"
                android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>
